
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Slab|Russo+One&display=swap');
#container{
    margin:0 auto;
    width:100%;
    text-align:center;
    
}
li{
    font-size:18px;
    font-family:'Russo One', Gadget, sans-serif;
}
a:link{
    color:#000;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}

h2{
    text-align: center;
    font-size:2.5em;
    font-weight:bold;
    font-family:'Permanent Marker', Charcoal, sans-serif;
    color:#b30000;
    border-bottom: 4px solid #b30000;
    max-width:100%;
}
body{
    background-color:#d3d3d3;
    font-weight: bolder;
}
h3{
    color:#b30000;
}
.example{
    margin-left: 3em;
    background-color:#000;
    color:limegreen;
    width:50%;
}
