
  *, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
     align-items: center; 
    background-color: #333;
  }
  
  .container {
    background-color: white;
    line-height: 2.5em;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: #ee1515;
    border: 1px solid #f00000;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }


@media only screen and (min-width: 700px){
  body{
    width: 100vw;
    height: 100vh;
  }
  .container {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
  }
.btn-grid{
  grid-template-columns: repeat(2, auto);
}    

}

